body {
    background-color: rgb(0, 0, 0);
}

p, label {
    color: white;
    font-family: sans-serif;
}

h1, h2, h3 {
    color: white;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

li {
    vertical-align: top;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #ffffff;
    padding: 5px;
    width: 30%;
}

li:hover {
    background-color: #72006c;
}

.centerText {
    text-align: center;
}

.content {
    max-width: 700px;
    margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
}

.footer-text {
    text-align: center;
    color: white;
    font-family: sans-serif;
    white-space: nowrap;
    padding: 0;
}

.gradient-text {
    outline: none;
    background: linear-gradient(to right, blueviolet 0%, purple 25%, red 50%,purple 75%, blueviolet 100%);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s ease-in infinite;
}

@keyframes animate {
    to{
      background-position: 400%;
    }
}

#footer {
    bottom: 0;
    width: 100%;
}